/* this will have uniform styling for all elements */
table, th, td {
    border: 4px solid black;
    empty-cells: show;
}

th {
    empty-cells: show;
}

#table-container {
    border: 4px solid black;
    empty-cells: show;
}

button{
    border-;
}
