/* this will have uniform styling for all elements */
th, td {
    border: 4px solid black;
    empty-cells: show;
    padding: 12px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#table-container {
    display: grid;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    border: 4px solid black;
    margin: 0 auto;
}

button{
    border: 4px solid black;
}

#task-header {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;

}

#time-slots {
    text-align: center;
}

#newRowBtn {
    padding: 20px;
    margin: auto;
    display: block;
    width: 100%;
}


@media screen and (min-width: 768px) {
    #table-container {
        width: 70%;
    }
    table {
        width: 70%;
    }
    th, td {
        width: 70%;
    } 
    #newRowBtn {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    #table-container {
        width: 80%;
    }
    table {
        width: 80%;
    }
    th, td {
        width: 80%;
    } 
    #newRowBtn {
        width: 80%;
    }

}